* {
    
    box-sizing: border-box;
  }
  .wrapper-header{
    width: 100%;
    height: 250px;  

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.wrapper-header article{
   width: 100%;
   margin: 2px;  

    text-align: center;
}

.logo{
    background-image: url(../practicaSiete/img/logo.png);
   
}
  
  html,
  body,
  .app  {
    width: 100%;
    height: 100%;
  }
 
  .app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    margin-bottom: 50px;
  }
  
  .calculator {
    padding: 30px 20px;
    background-color: aquamarine;
    max-width: 45%;
  }
  
  .calculator__display {
    background-color: white;
    padding: 40px 30px;
    text-align: right;
    margin-bottom: 20px;
  }
  
  .calculator__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .calculator__btn {
    padding: 10px 40px;
    margin: 5px;
  }
  
  .calculator__btn:hover {
    cursor: pointer;
  }
  
  .calculator--delete {
    width: 42%;
  }

  @media only screen and (max-width : 750px){/* menor a 750 px no moStrara el color  por defalt */
    .calculator {
      padding: 15px 10px;
      background-color: purple;
      max-width: 100%;
      max-height: 100%;
    }

    .wrapper-header{
      
      display: none;
      
    }
    .app {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

  }

  @media only screen and (min-device-width : 768px) and (min-device-width : 1024px) and (orientation : landscape) {
    /* Styles */

    .calculator {
      padding: 30px 20px;
      background-color: red;
      max-width: 100%;
    }

   
  }